$menu-width: 170px;

:global {

  body {
    color: #dfe0e5;
    background: #121314;
    font-family: "Roboto", sans-serif;
  }

  .pure-img-responsive {
    max-width: 100%;
    height: auto;
  }

  /*
  Add transition to containers so they can push in and out.
  */
  #layout, #menu, .menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }

  /*
  This is the parent `<div>` that contains the menu and the content area.
  */
  #layout {
    position: relative;
    padding-left: 0;
  }
  #layout.active #menu {
    left: $menu-width;
    width: $menu-width;
  }

  #layout.active .menu-link {
    left: $menu-width;
  }
  /*
  The content `<div>` is where all your content goes.
  */
  .content {
    margin: 0 auto;
    margin-bottom: 50px;
    line-height: 1.6em;
  }

  /*
  The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
  appears on the left side of the page.
  */

  #menu {
    margin-left: -$menu-width; /* "#menu" width */
    width: $menu-width;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #292b2d;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-right: 1px solid rgba(0, 0, 0, .4);
  }
  /*
  All anchors inside the menu should be styled like this.
  */
  #menu a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
  }

  /*
  Remove all background/borders, since we are applying them to #menu.
  */
  #menu .pure-menu,
  #menu .pure-menu ul {
    border: none;
    background: transparent;
  }

  /*
  Add that light border to separate items into groups.
  */
  #menu .pure-menu ul,
  #menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
  }
  /*
  Change color of the anchor links on hover/focus.
  */
  #menu .pure-menu li a:hover,
  #menu .pure-menu li a:focus {
    background: rgba(0, 0, 0, .1);
  }

  /*
  This styles the selected menu item `<li>`.
  */
  #menu .pure-menu-selected {
    background: rgba(0, 0, 0, .1);
    border-bottom: 1px solid #393b40;
    border-right: 3px solid orangered;
  }
  /*
  This styles a link within a selected menu item `<li>`.
  */
  #menu .pure-menu-selected a {
    color: #fff;
  }

  /*
  This styles the menu heading.
  */
  #menu .pure-menu-heading {
    font-size: 105%;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #292b2d;
    height: 42px;
    border-bottom: 1px solid #393b40;
    width: $menu-width;
    text-align: center;
    line-height: 42px;
    font-family: 'Roboto Slab';

    span {
      font-weight: bold;
    }

    [class^="icon-"] {
      font-size: 75%;
    }
  }

  /* -- Dynamic Button For Responsive Menu -------------------------------------*/

  /*
  The button to open/close the Menu is custom-made and not part of Pure. Here's
  how it works:
  */

  /*
  `.menu-link` represents the responsive menu toggle that shows/hides on
  small screens.
  */
  .menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
  }

  .menu-link:hover,
  .menu-link:focus {
    background: #000;
  }

  .menu-link span {
    position: relative;
    display: block;
  }

  .menu-link span,
  .menu-link span:before,
  .menu-link span:after {
    background-color: #fff;
    width: 100%;
    height: 0.2em;
  }

  .menu-link span:before,
  .menu-link span:after {
    position: absolute;
    margin-top: -0.6em;
    content: " ";
  }

  .menu-link span:after {
    margin-top: 0.6em;
  }

  /* -- Responsive Styles (Media Queries) ------------------------------------- */

  /*
  Hides the menu at `48em`, but modify this based on your app's needs.
  */
  @media (min-width: 48em) {
    #layout {
      padding-left: $menu-width; /* left col width "#menu" */
      left: 0;
    }
    #menu {
      left: $menu-width;
    }

    .menu-link {
      position: fixed;
      left: $menu-width;
      display: none;
    }

    #layout.active .menu-link {
      left: $menu-width;
    }
  }

  @media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
      position: relative;
      left: $menu-width;
    }
  }

  .search-result {
    .highlight {
      background-color: yellow;
    }
  }

  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "TmIcons", sans-serif;
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-cancel-squared:before { content: '\e800'; } /* '' */
  .icon-menu:before { content: '\e801'; } /* '' */
  .icon-cancel:before { content: '\e802'; } /* '' */
  .icon-pencil:before { content: '\e803'; } /* '' */
  .icon-to-start:before { content: '\e804'; } /* '' */
  .icon-to-end:before { content: '\e805'; } /* '' */
  .icon-fast-forward:before { content: '\e806'; } /* '' */
  .icon-fast-backward:before { content: '\e807'; } /* '' */
  .icon-github:before { content: '\e808'; } /* '' */
  .icon-linkedin-circled:before { content: '\e809'; } /* '' */
  .icon-login:before { content: '\e80a'; } /* '' */
  .icon-logout:before { content: '\e80b'; } /* '' */
  .icon-vcard:before { content: '\e80c'; } /* '' */
  .icon-key:before { content: '\e80d'; } /* '' */
  .icon-attention:before { content: '\e80e'; } /* '' */
  .icon-user:before { content: '\e80f'; } /* '' */
  .icon-search:before { content: '\e810'; } /* '' */
  .icon-link:before { content: '\e811'; } /* '' */
  .icon-plus-squared:before { content: '\e812'; } /* '' */
  .icon-dot-3:before { content: '\e813'; } /* '' */
  .icon-list:before { content: '\e814'; } /* '' */
  .icon-cog:before { content: '\e815'; } /* '' */
  .icon-info-circled:before { content: '\e816'; } /* '' */
  .icon-up-open-mini:before { content: '\e817'; } /* '' */
  .icon-down-open-mini:before { content: '\e818'; } /* '' */
  .icon-calendar:before { content: '\e819'; } /* '' */
  .icon-star-empty:before { content: '\e81a'; } /* '' */
  .icon-star:before { content: '\e81b'; } /* '' */
  .icon-chart-bar:before { content: '\e81c'; } /* '' */
  .icon-cog-outline:before { content: '\e81e'; } /* '' */

  .pure-form {
    select, input:not([type]) {
      background-color: #000;
      border: none;
      -webkit-box-shadow: inset -1px -1px 2px 0px rgba(255,255,255,0.30);
      -moz-box-shadow: inset -1px -1px 2px 0px rgba(255,255,255,0.30);
      box-shadow: inset -1px -1px 2px 0px rgba(255,255,255,0.30);

      padding: .7em .8em;
      margin-right: .4em;
    }
  }
}

